.calendar_table {
  -ms-writing-mode : tb-lr;
  writing-mode : vertical-lr;
  border-collapse: separate;
  border-spacing: 2px;
}
.date_cell {
  width: 1em;
  height: 1em;
  border-radius: 5px;
}
.red {
  background-color: #ff0000;
}
.green {
  background-color: #00ff00;
}
.blue {
  background-color: #0000ff;
}
.progress_1 {
  opacity: 1;
}
.progress_2 {
  opacity: 0.6;
}
.progress_3 {
  opacity: 0.4;
}
.progress_4 {
  opacity: 0.2;
}
.progress_5 {
  background-color: #eee;
}
