.calendar_table {
  -ms-writing-mode : tb-lr;
  writing-mode : vertical-lr;
  border-collapse: separate;
  border-spacing: 2px;
}
.calendar_line {
  border-collapse: separate;
  border-spacing: 2px;
}
.date_cell {
  width: 1em;
  height: 1em;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: #eee;
}
.progress_4 {
  filter: brightness(0.7);
}
.progress_3 {
  filter: brightness(1);
}
.progress_2 {
  opacity: 0.6;
}
.progress_1 {
  opacity: 0.3;
}
